# Large model files
*.pth
*.h5
*.pkl
weights/
models/

# Large dataset files
*.npz
*.npy
dataset/
data/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
*/.ipynb_checkpoints/*

# Python
__pycache__/
*.py[cod]
*.pyc
*.pyo
*.egg-info/
.Python
env/
venv/

# Flask
instance/
.webassets-cache

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db
desktop.ini

# Logs
*.log
